manifest {
	mainScript = "main.nf"
	defaultBranch = "master"
	nextflowVersion = ">=19.04.0"
}



params {
	input_dir = "input"
	output_dir = "output"
	conda = "${HOME}/anaconda3/envs/myenv"

	normalize {
		enabled = true
		np = 1
		log2 = true
		kstest = true
		quantile = true
	}

	visualize {
		enabled = true
		density = true
	}
}



report {
	enabled = true
	file = "${params.output_dir}/reports/report.html"
}



timeline {
	enabled = true
	file = "${params.output_dir}/reports/timeline.html"
}



trace {
	enabled = true
	fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
	file = "${params.output_dir}/reports/trace.txt"
	raw = true
}



process {
	conda = "${params.conda}"
	echo = false
}



profiles {
	standard {
		process {
			executor = "local"
			cpus = 1
			memory = "8 GB"

			withName:normalize {
				cpus = "${params.normalize.np}"
				memory = "32 GB"
			}
		}
	}

	pbs {
		process {
			executor = "pbspro"
			cpus = 1
			memory = "8 GB"

			module = "anaconda3"

			withName:normalize {
				time = "72h"
				cpus = 1
				memory = "16 GB"
				clusterOptions = "-l select=${params.normalize.np}:mpiprocs=1:interconnect=fdr"
			}
		}
	}
}
