manifest {
	mainScript = "main.nf"
	defaultBranch = "master"
	nextflowVersion = ">=0.31.0"
}

params.inputName

params {
	input = params.inputName.replaceAll(/.txt/, "")

	pbs {
		input {
			normalizeScript = "${PWD}/bin/normalize.py"
			inputGEM = "${params.inputName}"
		}

		output {
			outputGEM = "${PWD}/${params.input}_GEM.txt"
			outputKS = "${PWD}/${params.input}KS-results.txt"
		}

		process {
			executor = "pbs"
			CPU = 1
			time = '72h'
			memory = '16 GB'
			clusterOptions = "-l select=100:mpiprocs=1:interconnect=fdr"

		}
		
	}

}
